

body {

    background-color:powderblue;

}
    
    
    
h1 {

    color:green;
}

h2 {

    color:blueviolet;
}
#glenn {
    margin: 20px;
    padding: 20px;
    border:solid black
    
}