
    
.photo {
   
    width: 50px;
    margin-left: 25px;
    margin-top: 100px;
    color: rgb(20, 8, 8);
    font-family: "Libre Baskerville", serif;
    text-align: center;

}

.Motivation-img {
    
    
    border: 5x solid rgb(7, 3, 3) ;
    width: 1%;

}

h1 {
    font-size: 3rem;
}